<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".SecondAbstractActivity"
            android:exported="false" />
        <activity
            android:name=".FormAbstractActivity"
            android:exported="false" />
        <activity
            android:name=".AbstractActivity"
            android:exported="false" />
    </application>

</manifest>